@import url("../../../styles.css");
@import url("../../../Components/NavBar/navBar.css");

.password-management-container {
  background-color: #e4e4e4;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
}
