@import url("../../../styles.css");
@import url("../../../Components/NavBar/navBar.css");

h2 {
  color: #36119f;
  margin-bottom: 32px;
  font-size: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
  text-align: left;
}

.passwordForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
