@import url("../../../styles.css");
@import url("../../../Components/NavBar/navBar.css");
@import url("../OrganizationRequests/organizationRequests.css");

.regContainer1 {
  display: flex;
  flex-direction: column;
  margin: 64px;
}
.regContainerSmall {
  padding: 20px 20px;
  border-style: solid;
  border-width: 4px;
  border-color: #f7f7f7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 7px;
}
.regHeaderContainer {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 32px;
}
.regHeaderContainer2 {
  display: flex;
  gap: 16px;
  align-items: center;
}
.headerText {
  font-size: 20px;
}
#searchbar {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  height: 50px;
  width: 400px;
  box-sizing: border-box;
}
.filterContainer{
  display: flex;
  justify-content: center;
  align-content: space-around;
  width: 100%;
  height: 300px;
  border-radius: 7px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}
.filterContainer .subContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 7px;
  margin: 32px;
}

/* Style the dropdown button */
.dropbtn {
  background-color: #f1f1f1;
  color: black;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Style the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

/* Show the dropdown content when the dropdown button is clicked */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Style the checkboxes */
.checkbox-container {
  padding: 5px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5px;
}
