@import url("../../styles.css");

.navBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 32px;
  margin: 8px;
}
.navBorder {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.navBarContainer2 {
  gap: 64px;
}
.buttonsDiv {
  display: flex;
  gap: 16px;
}
