<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hope Organization</title>
    <link rel="stylesheet" href="navBar.css" />
    <script src="navBar.js" defer></script>
  </head>
  <body>
    <nav>
      <div class="navBarContainer navBorder">
        <img
          src="../../../Assets/Images/LogoBig.jpg"
          alt="Hope Logo"
          width="180"
          height="60"
        />
        <div class="navBarContainer navBarContainer2">
          <div class="buttonsDiv">
            <button class="navBarButton">Registered Organization</button>
            <button class="navBarButton">Change Password</button>
          </div>
            <button class="iconButton">
              <img
                src="../../../Assets/Icons/logout.png"
                alt="logOutIcon"
                width="22px"
                height="22px"
              />
            </button>
        </div>
      </div>
    </nav>
  </body>
</html>
